<div style="padding-top: 20px;height: 84vh;">
    <div dir="rtl">
        <!-- <button class="close" (click)="closePopUp()">חזרה</button> -->
        <span class="boldText" (click)="closePopUp()">חזרה</span>
    </div>
    <div class="searchCarsContainer" dir="rtl">
        <div class="flexContainer" style="flex-direction: row;justify-content: space-evenly;width: 80%;height: 50px;margin-top: 15px;">
                <div style="width: 70%;">
                    <input class="logo input" type="text" placeholder="חיפוש" [(ngModel)]="searchText" style="margin-top: 4px;width: 80%;" (keyup)="filter()">
                </div>
                <div style="width: 30%;height: 47px;">
                    <img style="height: inherit;margin-top: 4px;margin-right: 14px;" src="assets/filter.png" (click)="changeFiltersView()">
                </div>
        </div>
        <div [ngClass]="comparingCarArr.length===0?'hidden':'visible'" class="flexContainer" style="flex-direction: row;">
            <div class="textDiv" [ngClass]="comparingCarArr.length==1?'visible':'hidden'">נותר עוד רכב אחד לבחירה</div>
            <div class="compareContainer">
                <mat-icon class="icon" *ngIf="comparingCarArr[0]" (click)="removeCar(0)">remove_circle</mat-icon>
                <app-comparing-car-card [car]="comparingCarArr[0]"></app-comparing-car-card>
                
            </div>
            <div class="compareContainer visible"  dir="rtl">
                <mat-icon class="icon" *ngIf="comparingCarArr[1]" (click)="removeCar(1)">remove_circle</mat-icon>
                <app-comparing-car-card [car]="comparingCarArr[1]"></app-comparing-car-card>
            </div>
        </div>
        <div class="filters" [ngClass]="!this.showFilters?'hidden':'visible'">
            <div class="filter" style="display: flex;" (click)="filterByCompany('Tesla')">
                <div>
                    <img style="margin: auto;" src="assets/Branding/tesla.png" alt="">
                </div>
            </div>
            <div class="filter" style="display: flex;" (click)="filterByCompany('Hyundai')">
                <div>
                    <img style="margin: auto;" src="assets/Branding/hyundai.gif" alt="">
                </div>
            </div>
            <div class="filter" style="display: flex;" (click)="filterByCompany('KIA')">
                <div>
                    <img style="margin: auto;" src="assets/Branding/kia.png" alt="">
                </div>
            </div>
            <div class="filter" style="display: flex;" (click)="filterByCompany('BYD')">
                <div>
                    <img style="margin: auto;" src="assets/Branding/byd.png" alt="">
                </div>
            </div>
            <div class="filter" style="display: flex;">
                <div>
                    <img style="margin: auto;" src="assets/Branding/tesla.png" alt="">
                </div>
            </div>
            <div class="filter" style="display: flex;">
                <div>
                    <img style="margin: auto;" src="assets/Branding/hyundai.gif" alt="">
                </div>
            </div>
            <div class="filter" style="display: flex;">
                <div>
                    <img style="margin: auto;" src="assets/Branding/kia.png" alt="">
                </div>
            </div>
            <div class="filter" style="display: flex;">
                <div>
                    <img style="margin: auto;" src="assets/Branding/byd.png" alt="">
                </div>
            </div>
        </div>
        <div class="allCarContainer">
            <div *ngFor="let company of shownData | keyvalue">
                <div dir="rtl">
                    <h1 style="margin-right: 10px;">{{company.key}}</h1>
                    <div class="flexContainer carousel" style="overflow-y: scroll;
                    height: 30vh;">
                        <div *ngFor="let car of company.value">
                            <app-car-card [car]="car" class="searchCarCard" (click)="openCarInfoDialog(car)"></app-car-card>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="flexContainer">
    <div class="logo homeButton compareButton">
        <button class="searchButton" [ngClass]="comparingCarArr.length==2?'enabled':'disabled'" (click)="compare()">להשוואה</button>
    </div>
</div>